   <h1>About me!</h1>
    <h2>I am O V Srikanth!!!!!!!!!!!!!</h2>
    <p>{{stock}}</p>
<br/><br/>

<br/>
{{#each stock}}
    {{@key}}  |  {{this}}<br/>
{{/each}}

<br/><br/>
{{#each companies}}
    {{@key}}  |  {{#each this}}  {{@key}} | {{this}} <br/> {{/each}}<br/>
{{/each}}