
<div class="jumbotron">
  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>
  {{!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> --}}
  <hr class="my-4">
  <strong>Latest Price   :</strong> ${{ stock.latestPrice }}<br/>
<strong>Previous Close :</strong> ${{ stock.previousClose }}<br/>
<strong>Percent Change :</strong> ${{ stock.changePercent }}<br/>
<strong>Market Capital :</strong> ${{ stock.marketCap  }}<br/>
<strong>YTD Change :</strong> ${{ stock.ytdChange   }}<br/>
<strong>52 week High :</strong> ${{ stock.week52High   }}<br/>
<strong>52 week Low :</strong> ${{ stock.week52Low   }}<br/>
  
</div>
<br/>
{{!-- {{#each stock}}
    {{@key}}  |  {{this}}<br/>
{{/each}} --}}



{{!-- <h3>{{stock.companyName}} ({{stock.symbol}})</h3>
<p>{{stock}}</p>
<br/><br/>
<strong>Latest Price   :</strong> ${{ stock.latestPrice }}<br/>
<strong>Previous Close :</strong> ${{ stock.previousClose }}<br/>
<strong>Percent Change :</strong> ${{ stock.changePercent }}<br/>
<strong>Market Capital :</strong> ${{ stock.marketCap  }}<br/>
<strong>YTD Change :</strong> ${{ stock.ytdChange   }}<br/>
<strong>52 week High :</strong> ${{ stock.week52High   }}<br/>
<strong>52 week Low :</strong> ${{ stock.week52Low   }}<br/> --}}